* {
    font-family: 'Lato', sans-serif;
}

.contactModule {
    background-color: #8DC73F;
    height: 300px;
    margin-top: 20px;
}

.contactText {
    padding-top: 80px;
    padding-bottom: 20px;
}

.contactBtn {
    border: 2.5px solid #fff;
    background-color: #8DC73F;
}

.contactBtn2 {
    border: 2.5px solid #000;
    /* background-color: #8DC73F; */
}

.searchBtn {
    border: 2.5px solid #8DC73F;
    background-color: #fff;
}

a {
    color: inherit;
}

.faqHero {
    /* background-color: #3F2950; */
    background-image: url("https://pixnio.com/free-images/2017/03/25/2017-03-25-09-30-39.jpg");
    height: 300px;
    opacity: .6;
    margin-top: -90px;
    color: #000;
}

.faqMain {
    position: relative;
    /* background-color: #45ac4b; */
    background-color: rgba(141, 199, 63, 0.85);
    height: 250px;
    margin-top: -50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.faqCopy {
    color: #000;
    position: absolute;
    left: 100px;
    top: 140px;
    right: 100px;
}

.faqTitle {
    /* color: #3F2950; */
    color: #000;
    position: absolute;
    left: 250px;
    top: 40px;
    font-size: 50px;
}

.footer {
    background-color: rgba(45, 44, 44, 0.83);
    height: 300px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.questions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.jumbotron {
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #8DC73F;
}