* {
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 16px;
}

h4 {
    font-size: 20px;
}

.contactModule {
    background-color: #8DC73F;
    height: 300px;
    margin-top: 20px;
}

.contactText {
    padding-top: 80px;
    padding-bottom: 20px;
}

.contactBtn {
    border: 2.5px solid #fff;
    background-color: #8DC73F;
}

.contactBtn2 {
    border: 2.5px solid #8DC73F;
    background-color: white;
}

.resourceBtn {
    border: 2.5px solid #fff;
    /* background-color: rgb(80, 80, 80); */
    background-color: #6b6b6b;
    ;
}

.searchBtn {
    border: 2.5px solid #8DC73F;
    background-color: #fff;
}

a {
    color: inherit;
}

.faqHero {
    /* background-color: #3F2950; */
    /* background-image: url("https://pixnio.com/free-images/2017/03/25/2017-03-25-09-30-39.jpg"); */
    height: 300px;
    width: 100%;
    opacity: .6;
    /* margin-top: -90px; */
    color: #000;
}

.faqMain {
    position: relative;
    /* background-color: #45ac4b; */
    background-color: rgba(141, 199, 63, 0.85);
    height: 250px;
    margin-top: -50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.faqCopy {
    color: #000;
    position: absolute;
    left: 100px;
    top: 140px;
    right: 100px;
}

.faqTitle {
    /* color: #3F2950; */
    color: #000;
    padding-top: 40px;
    font-size: 50px;
    text-align: center;
}

.letterA {
    font-size: 30px;
    color: #000;
}

.letter {
    font-size: 30px;
    color: #8DC73F;
}

.footer {
    background-color: rgba(45, 44, 44, 0.83);
    /* min-height: 100px; */
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.footer-item {
    list-style: none;
    padding: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: 10px;
}

.footer-item a {
    color: #fff;
    text-decoration: none;
}

.questions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.answer {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.jumbotron {
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 15px;
    padding-bottom: 30px;
    background-color: #8DC73F;
}

.resource {
    border: 3px solid rgba(45, 44, 44, 0.83);
    border-radius: 10px;
    height: auto;
    /* background-color: #6b6b6b; */
    padding: 30px 20px 30px 20px;
    color: #000;
}

.resourceTitle {
    color: #000;
}

.resourceDesc {
    font-size: 16px;
    padding: 10px 0 10px 0;
}

.resourceImg {
    width: 100%;
    height: 150px;
    border: 1px solid rgba(45, 44, 44, 0.83);
}

.img {
    width: 100%;
}

.resourceDetails {
    padding: 10px 0 10px 0;
}

.mainRes {
    margin-top: 30px;
    margin-bottom: 50px;
}